@model SecureViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column">
    <h3>User: @Model.UserName</h3>
    <div class="flex-row">
        <button class="btn btn-info" onclick="">Logout</button>
    </div>
</div>